<h1>All Wikis</h1>
<% @wikiis.each do |wikii| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to wikii.title, wikii %>
      </h4>
    </div>
  </div>
<% end %>
