<h3>Collaborators:</h3>
<% @wikii.collaborators.each do |collaborator| %>
  <p>
    <%= User.find_by_id(collaborator.user_id).username %>
    <% if policy(@wikii).destroy? %>
     - <%= link_to "Remove", [@wikii, collaborator], method: :delete, data: {confirm: 'Are you sure you want to delete this collaborator?'} %>
    <% end %>
  </p>
  <% end %>
</ul>
